.error-popup__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.22;
  margin: 0;
  padding: 5px 0 0;
  text-align: center;
}

@media screen and (max-width: 468px) {
  .error-popup__title {
    font-size: 10px;
    line-height: 1.24;
  }
}
